*{
	margin: 0px;
	padding: 0px;
}
.meng{
	width: 1860px;
	height: 479px;
}
input{
	width: 200px;
	height: 40px;
	margin-top:-500px;
	font-size: 15px;
}
ul,li{
	list-style: none;
}
.gao li{
	float: left;
	margin-left: 20px;
	font-size: 15px;
}
.gao{
	margin-left:1000px ;
	margin-top: -50px;
}
.kong{
	width:50px;
	height: 50px;
}
.kong1{
	width:50px;
	height: 25px;
}
.yin{
	width:65px;
	height: 35px;
	border-radius: 5px;
	margin-left: 60px;
}
.yin1{
	width:50px;
	height: 35px;
	border-radius: 5px;
	margin-left:20px;
}
.yin2{
	width:62px;
	height: 35px;
	border-radius: 5px;
	margin-left: 20px;
}
.yin3{
	width:95px;
	height: 35px;
	border-radius: 5px;
	margin-left: 20px;
}
.kong2{
	width:50px;
	height: 15px;
}
.ai{
	width: 1430px;
	height:2400px;
	margin-left:20px;
	position: relative;
	/*border: 2px solid red; 边框*/
}
.wu{
	margin-left:-32px;
}
.yin4{
	margin-left:720px;
}
.hai{
	color: #DB7093;
}
.zhu5{
	margin-left: 18px;
}
.qing{
	margin-left: 550px;
	margin-top: 10px;
}
